.section-entry{
//  background-color: red;
}
.search-socios{
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 30px;
    display: flex;
    justify-content:center;
    & input{
        width: 500px;
    }
}

.list-socios{
    display: flex;
    justify-content:center;
    margin-left: 190px;
    background-color: rgba(221, 233, 221, 0.836);
    width: 990px;
    height: 470px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-wrap: wrap;

}